{{ define "hero" }}{{ end }}

{{ define "main" }}
{{ $color := .Site.Params.color | default "stone" }}
{{ $gray := .Site.Params.gray | default "stone" }}

<!-- Page content wrapper -->
<div class="space-y-6 py-8 px-4  flex-1 w-xl md:w-2xl">

    <!-- Breadcrumbs navigation -->
    {{ partial "breadcrumbs.html" . }}

    <!-- Page header section -->
    <header class="space-y-6 pt-4">
        {{ partial "intro" . }}
        {{ partial "content" . }}
    </header>

    <!-- Articles listing -->
    {{ if .Pages }}
    <section aria-label="Labs">
        <!-- Labs container -->
        <div class="border-t-4 border-{{ $gray }}-200 dark:border-{{ $gray }}-800">
            {{ range (.Paginate .Pages).Pages }}
            <article class="border-b-4 border-{{ $gray }}-200 dark:border-{{ $gray }}-800">
                <details class="space-y-2 open:[&_svg]:rotate-360  cursor-pointer py-4">
                   <!-- Lab title + link -->
                    <summary class="flex mt-2 select-none text-{{ $gray }}-900 dark:text-{{ $gray }}-100 hover:text-{{ $gray }}-600 dark:hover:text-{{ $gray }}-400">
                      <!-- notice here, we added our own triangle/arrow svg -->
                        <div class="flex-none mr-2 my-auto">
                          <svg class="rotate-270 transform transition-rotate duration-100" fill="none" height="20" width="20" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
                            <polyline points="6 9 12 15 18 9"></polyline>
                          </svg>
                        </div>
                        <h2 class="text-xl flex-auto my-auto font-semibold transition-color duration-100">
                          {{ .Title }}
                        </h2>
                            {{ with .Params.url }}
                            {{ partial "button.html" (dict
                                "href" .
                                "type" "secondary"
                                "size" "sm"
                                "class" "flex-none ml-4 my-0"
                                "content" "Go to Lab page (external)"
                                "icon" ""
                            ) }}
                            {{ end }}
                    </summary>
                    <!-- Lab abstract -->
                    <p class="text-sm mt-3 text-{{ $gray }}-700 dark:text-{{ $gray }}-300 leading-relaxed overflow-hidden transition-all duration-300 ease-in-out">
                        <div class="mb-4 text-justify">
                        {{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}
                        </div>
                        {{ partial "button.html" (dict
                            "href" .RelPermalink
                            "type" "secondary"
                            "size" "sm"
                            "class" "flex-none"
                            "content" "Read more"
                            "icon" ""
                         ) }}
                    </p>
              </details>
            </article>
            {{ end }}
        </div>

        <!-- Pagination navigation -->
        {{ partial "pagination.html" . }}

    </section>
    {{ end }}

</div>
{{ end }}