<div class="max-w-full my-12 flex flex-row gap-4 justify-center">
  {{ with .Site.GetPage "/calls" }}
    {{ with .RelPermalink }}
      {{ partial "button.html" (dict
        "href" .
        "type" "primary"
        "size" "sm"
        "class" ""
        "content" "View Calls"
      ) }}
    {{ end }}
  {{ end }}
  {{ with .Site.GetPage "/labs" }}
    {{ with .RelPermalink }}
      {{ partial "button.html" (dict
        "href" .
        "type" "primary"
        "size" "sm"
        "class" ""
        "content" "Browse Labs"
      ) }}
    {{ end }}
  {{ end }}
  {{ with .Site.GetPage "/conference" }}
    {{ with .RelPermalink }}
      {{ partial "button.html" (dict
        "href" .
        "type" "primary"
        "size" "sm"
        "class" ""
        "content" "Conference Info"
      ) }}
    {{ end }}
  {{ end }}
</div>
