<div class="max-w-none my-12 flex flex-row flex-wrap gap-4 justify-center">
  {{ with .Site.GetPage "/calls" }}
    {{ with .RelPermalink }}
      {{ partial "button.html" (dict
        "href" .
        "type" "primary"
        "size" "md"
        "class" "w-24 h-12"
        "content" "Calls for Participation"
      ) }}
    {{ end }}
  {{ end }}
  {{ with .Site.GetPage "/labs" }}
    {{ with .RelPermalink }}
      {{ partial "button.html" (dict
        "href" .
        "type" "primary"
        "size" "md"
        "class" "w-24 h-12"
        "content" "Evaluation Labs"
      ) }}
    {{ end }}
  {{ end }}
  {{ with .Site.GetPage "/conference" }}
    {{ with .RelPermalink }}
      {{ partial "button.html" (dict
        "href" .
        "type" "primary"
        "size" "md"
        "class" "w-24 h-12"
        "content" "Conference Info"
      ) }}
    {{ end }}
  {{ end }}
  {{ with .Site.GetPage "/dates" }}
    {{ with .RelPermalink }}
      {{ partial "button.html" (dict
        "href" .
        "type" "primary"
        "size" "md"
        "class" "w-24 h-12"
        "content" "Important Dates"
      ) }}
    {{ end }}
  {{ end }}
</div>
